[submodule "github"]
	path = github
	url = git@github.com:GeekMasher/.dotfiles-github.git
[submodule "personal"]
	path = personal
	url = git@github.com:GeekMasher/.dotfiles-personal.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:GeekMasher/nvim.git
